@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
  height: 100%;
  font-family: var(--font-giselle);
}

.works {
  @apply ml-auto;
}

.page-links {
  @apply md:flex h-[100vh] w-[100vw] top-0 left-0 fixed
}

.page-links a {
  @apply border-none h-[100%] outline-none relative w-[8.95833vw]
}

.page-links a:focus {
  @apply outline-none
}

.page-links a>div{
  @apply inset-0 absolute
}

.page-links a .page-link--bg {
  @apply origin-left
}

.page-links a .page-link--fg {
  @apply p-[3.333vw]
}

/* .page-links a .page-link--fg img { */
  /* height: 3.194444vw;
  width: 3.194444vw;  
  transform: scale(1.5);
  transform-origin: 50% 50%; */
/* } */

.page-links a .page-link--fg div.topic {
  @apply tracking-[0.05em] text-[2.33333vw] text-[#fff]
}

.page-links .page-works {
  @apply w-[73.333333vw]
}

.unor-items {
  @apply flex flex-row space-x-[10px] items-center border-[#FF975C] border-2 rounded-[10px] px-[10px] py-[5px] transition transform duration-100
}

.unor-items-clicked {
  @apply flex flex-row space-x-[10px] items-center border-[#FF975C] border-2 rounded-[10px] px-[10px] py-[5px] bg-[#FF975C] bg-opacity-35 transition transform duration-100
}

.bread-nav-img {
  @apply flex items-center justify-center size-[1.5vw]
}

.r {
  @apply bg-[#ff667d]
}

.b {
  @apply bg-[#8283da]
}

.or {
  @apply bg-[#ff9776]
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* SCROLLBAR */
/* width */
.geoscrollbar::-webkit-scrollbar {
  width: 8px;
  right: 0;
}

/* Track */
.geoscrollbar::-webkit-scrollbar-track {
  background: #DDDDDD;
}

/* Handle */
.geoscrollbar::-webkit-scrollbar-thumb {
  background: #FFAF83;
  border-radius: 5px;
}

/* Handle on hover */
.geoscrollbar::-webkit-scrollbar-thumb:hover {
  background: #ff9776;
}

.large-gallery {
  @apply grid grid-cols-3 mt-10 px-10 gap-x-0 gap-y-8 place-content-center place-items-center
}

.small-gallery {
  @apply flex flex-col mt-10 space-y-5 justify-center items-center
}